<head>
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "l2nz6t5cjb");
</script>
</head>

<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="/">{{ .Site.Title }}</a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
        
      <a href="/" title="home"><img src="/images/BicepForRealpng.png" width="200" /></a> 
    </div>
    <nav id="top-nav-main">
      <ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>
    {{end}}
      </ul>
    </nav>
    <nav id="top-nav-extra"> 
      <ul>
        {{ range .Site.Menus.extra }} 
          <li>
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
        {{ end }}  
      </ul>
    </nav>
  </div>
